$ink-dark: #000000;
$ink-light: #ffffff;
$ink-gray: #707070;
$ink-lightGray: #d0d0d0;
$ink-yellow: #fff251;

$clamp1418: clamp(0.875rem, 2.5vw, 1.125rem);
$clamp1825: clamp(1.125rem, 2.5vw, 1.5625rem);
$clamp1840: clamp(1.125rem, 2.5vw, 2.5rem);
$clamp2440: clamp(1.5rem, 2.5vw, 2.5rem);
$clamp4080: clamp(2.5rem, 10vw, 5rem);
$clamp4580: clamp(2.8125rem, 10vw, 5rem);

// Set text color based on bg
@function set-text-color($color) {
	@if (lightness($color) > 70) {
		@return $ink-dark;
	} @else {
		@return $ink-light;
	}
}

// Set background & text color
@mixin set-background($color) {
	background-color: $color;
	color: set-text-color($color);
	svg {
		fill: set-text-color($color);
	}
	a {
		color: set-text-color($color);
		&:hover,
		&:visited,
		&:focus {
			color: set-text-color($color);
		}
		&:active {
			color: set-text-color($color);
		}
	}
	button {
		background-color: Transparent;
		color: set-text-color($color);
	}
	hr {
		border: 0;
		height: 1px;
		background: set-text-color($color);
	}
}

@font-face {
	font-family: "PlusJakartaSansLight";
	src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Light.woff2)
			format("woff2"),
		url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Light.woff)
			format("woff"),
		url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Light.ttf)
			format("truetype");
	font-stretch: normal;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PlusJakartaSansRegular";
	src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2)
			format("woff2"),
		url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff)
			format("woff"),
		url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf)
			format("truetype");
	font-stretch: normal;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@mixin degular-font {
	font-family: degular, sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
}

@mixin jakarta-light {
	font-family: PlusJakartaSansLight, sans-serif;
}

@mixin jakarta-regular {
	font-family: PlusJakartaSansRegular, sans-serif;
}

.font-manrope {
	font-family: "Manrope", sans-serif;
	font-size: 1.25rem;
}

// @font-face {
// 	font-family: "PlusJakartaSansMedium";
// 	src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Medium.woff2)
// 			format("woff2"),
// 		url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Medium.woff)
// 			format("woff"),
// 		url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Medium.ttf)
// 			format("truetype");
// 	font-stretch: normal;
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

// .font-jakarta-light {
// 	font-family: PlusJakartaSansLight, sans-serif;
// }

// .font-jakarta-regular {
// 	font-family: PlusJakartaSansRegular, sans-serif;
// }

// .font-jakarta-medium {
// 	font-family: PlusJakartaSansMedium, sans-serif;
// }

// Degular (Adobe Font) is also used and configured in functions.php
// <link rel="stylesheet" href="https://use.typekit.net/xbj7lle.css">
// Degular Medium
// font-family: degular, sans-serif;
// font-weight: 500;
// font-style: normal;
