.ink-container-1600 {
	max-width: 1600px;
	margin: 0 auto;
	padding-bottom: 5em;
}

.ink-container {
	max-width: 1000px;
	margin: 0 auto 5em;
}

.ink-container-small {
	max-width: 800px;
	margin: 5em auto;
}

// Margin & padding classes
$spaceamounts: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16);

@each $space in $spaceamounts {
	.ink-m-#{$space} {
		margin: #{$space}rem;
	}
	.ink-mx-#{$space} {
		margin: inherit #{$space}rem;
	}
	.ink-my-#{$space} {
		margin: #{$space}rem inherit;
	}
	.ink-mt-#{$space} {
		margin-top: #{$space}rem;
	}
	.ink-mr-#{$space} {
		margin-right: #{$space}rem;
	}
	.ink-mb-#{$space} {
		margin-bottom: #{$space}rem;
	}
	.ink-ml-#{$space} {
		margin-left: #{$space}rem;
	}

	.ink-p-#{$space} {
		padding: #{$space}rem;
	}
	.ink-px-#{$space} {
		padding: inherit #{$space}rem;
	}
	.ink-py-#{$space} {
		padding: #{$space}rem inherit;
	}
	.ink-pt-#{$space} {
		padding-top: #{$space}rem;
	}
	.ink-pr-#{$space} {
		padding-right: #{$space}rem;
	}
	.ink-pb-#{$space} {
		padding-bottom: #{$space}rem;
	}
	.ink-pl-#{$space} {
		padding-left: #{$space}rem;
	}
}
