@import "config";
@import "utilities";

html {
	font-size: 16px;
}

body {
	@include jakarta-light;
	background-color: $ink-light;
	color: $ink-dark;
	min-height: 100vh;
	font-size: 1.125rem;
	font-size: $clamp1825;
	counter-reset: card;
	overflow-x: hidden;
}

h1 {
	@include degular-font;
	font-size: 2.5rem;
	font-size: $clamp4080;
}

h2 {
	@include degular-font;
	font-size: 1.5rem;
	font-size: $clamp2440;
}

h3 {
	@include jakarta-regular;
}

h4 {
	@include degular-font;
}

img {
	width: 100%;
}

p {
	line-height: 1.5em;
	@include jakarta-regular;
	&.lh175 {
		line-height: 1.75em;
	}
	&.fs-1840 {
		font-size: 1.125rem;
		font-size: $clamp1840;
	}
	&.p-dark {
		color: $ink-dark;
	}

	&.p-gray {
		color: $ink-gray !important;
	}
	&.p-color-medium-gray {
		@include jakarta-light;
		color: $ink-mediumGray;
	}
	&.p-yellow {
		color: $ink-yellow;
		margin: 12px 0;
	}
	&.fs-18-40 {
		font-size: 1.125rem;
		font-size: $clamp1840;
	}
}

a {
	color: $ink-dark;
	&:hover,
	&:visited,
	&:focus {
		color: $ink-dark;
		text-decoration: none;
	}
	&:active {
		color: $ink-dark;
		background: transparent;
	}
	&.a-light-gray {
		color: $ink-lightGray;
		line-height: 1.75;
	}
	&.a-showreal {
		color: $ink-dark;
		font-size: 1.125rem;
		font-size: $clamp1825;
	}
	&.a-yellow {
		color: $ink-yellow !important;
		text-decoration: underline;
	}
	&.a-gray {
		color: $ink-gray;
	}
}

button {
	background: $ink-light;
	color: $ink-dark;
	&.btn-ink-yellow {
		color: $ink-yellow !important;
		border: none;
		font-weight: bold;
	}
	&.watch-showreal-btn {
		display: flex;
		align-items: center;
		border: 0;
		transition: all 0.2s ease-in-out;
		&:hover {
			text-decoration: underline;
			svg {
				transform: scale(1.2);
			}
		}
		svg {
			margin-left: 1em;
		}
	}
	&.play-showreal {
		font-size: 2.8125rem;
		font-size: $clamp4580;
		color: $ink-light;
		border: none;
		background: Transparent;
		position: relative;
		text-decoration: underline;
		text-decoration-thickness: 0.05em;
		text-underline-offset: 0.1em;
		&:hover {
			text-decoration: underline !important;
			text-decoration-thickness: 0.05em !important;
			text-underline-offset: 0.1em !important;
			&::before {
				position: absolute;
				content: "\2794";
				font-size: 0.75em;
				top: 0.35em;
				left: -1.25em;
			}
		}
	}
}

hr {
	border: 0;
	height: 1px;
	background: $ink-dark;
}

svg {
	fill: $ink-dark;
	&.header-logo {
		width: clamp(35px, 5vw, 65px);
	}
}

.bg-ink-dark {
	@include set-background($ink-dark);
}

.bg-ink-light {
	@include set-background($ink-light);
}

.fs-1418 {
	font-size: 0.875rem;
	font-size: $clamp1418;
}

.fs-30 {
	font-size: 1.875rem;
}

.fs-1825 {
	font-size: 1.125rem;
	font-size: $clamp1825;
}

.fs-2040 {
	font-size: 1.25rem;
	font-size: $clamp2040;
}

.fs-2440 {
	font-size: 1.5rem;
	font-size: $clamp2440;
}

.fs-4080 {
	font-size: 2.5rem;
	font-size: $clamp4080;
}

.degular-font {
	@include degular-font;
}

.lh-15 {
	line-height: 1.5;
}

.lh-175 {
	line-height: 1.75;
}

.lh-2 {
	line-height: 2;
}

.background-image {
	background-image: url("https://test.inkoppers.nl/qb/wp-content/uploads/2021/05/light-gray.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 40vh;
	position: relative;
}

.background-image-1 {
	background-image: url("https://test.inkoppers.nl/qb/wp-content/uploads/2021/05/image-1.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 40vh;
	position: relative;
}

.background-image-woman {
	background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-showreal.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 80vh;
	position: relative;
}

.background-image-showreal {
	background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-showreal.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 40vh;
	position: relative;
}

.background-image-2 {
	background-image: url("https://test.inkoppers.nl/qb/wp-content/uploads/2021/05/image-2.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 40vh;
	position: relative;
	margin: 0 15px;
}

.background-image-3 {
	background-image: url("https://test.inkoppers.nl/qb/wp-content/uploads/2021/05/cbdsport1.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 30vh;
	position: relative;
}

.background-image-4 {
	background-image: url("https://test.inkoppers.nl/qb/wp-content/uploads/2021/05/cbdsport2.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 30vh;
	position: relative;
}

.background-image-werk {
	background-image: url("https://test.inkoppers.nl/qb/wp-content/uploads/2021/05/cbdsport1.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 30vh;
	position: relative;
}

.background-image-project {
	background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-1.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 33vh;
	position: relative;
	&.upper-project-image {
		background-image: url("https://test.inkoppers.nl/qb/wp-content/uploads/2021/05/cbdsport1.png");
		background-size: cover;
		background-position: right center;
		min-height: 70vh;
	}
	&.project-1 {
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-1.png");
	}
	&.project-2 {
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-2.png");
	}
	&.project-3 {
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-3.png");
	}
	&.project-4 {
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-4.png");
	}
	&.project-5 {
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-5.png");
	}
	&.project-6 {
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-6.png");
		min-height: 80vh;
		background-position: center;
	}
	&.project-7 {
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/fitness-woman-working-out-with-battle-ropes-gym.png");
		min-height: 50vh;
		position: relative;
	}
}

.next-project-image {
	position: absolute;
	left: 1em;
	bottom: 2em;
}

.background-image-contact {
	background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/contact-image-1.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 70vh;
	position: relative;
}

.background-image-content {
	background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/contact-image-1.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	min-height: 40vh;
	position: relative;
}

.overlapping-404-images {
	position: relative;
	margin-top: 10em;
}

.left-404-image {
	position: absolute;
	background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/contact-image-1.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	height: 30vh;
	width: 50vw;
	top: -12em;
	left: 0;
}

.right-404-image {
	position: absolute;
	background-image: url("http://localhost/quarterback/wp-content/uploads/2021/05/image-1.png");
	background-color: $ink-light;
	background-size: cover;
	background-position: center;
	height: 30vh;
	width: 60vw;
	top: -10em;
	right: 0;
}

.trans-trans-y-75 {
	transform: translateY(75%);
}

.vh40 {
	min-height: 40vh;
}

.header-project-image {
	transform: translateY(-135px);
	min-height: 60vh;
	z-index: -1;
}

.project-image-text {
	position: absolute;
	left: 1.5em;
	bottom: 2em;
}

.lh-175 {
	line-height: 1.75;
}

.half-light-half-dark {
	background: linear-gradient(180deg, $ink-light 50%, $ink-dark 50%);
}

.half-dark-half-light {
	background: linear-gradient(180deg, $ink-dark 50%, $ink-light 50%);
}

#first-container {
	margin-top: 15rem;
}

.upper-container {
	padding-top: 8em;
}

// Contact page
.contact-page-footer {
	bottom: 2em;
}
// End contact page

// Project page

// Accordion about us
.card button::before {
	counter-increment: card;
	content: "0" counter(card) ".";
	font-size: 1rem;
	transform: translateY(-3em);
	margin-right: 2em;
	vertical-align: top;
}

// Style number in front of title accordion
.stage-number {
	font-size: 1.5rem;
	margin-right: 3em;
	vertical-align: top;
}

.ink-btn {
	@include degular-font;
	font-size: 1.5rem;
	font-size: $clamp2440;
	color: $ink-dark;
}

.card-header {
	border-bottom: none;
}

// #accordion {
// 	& > div {
// 		padding: 0;
// 	}
// }
// End accordion about us

// Cookie melding
#cookie-div {
	position: fixed;
	bottom: 0%;
	width: 100%;
	z-index: 1;
}
// End cookie melding

// Header
.qb-header {
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 9999;
	margin-top: 50px;
	svg {
		&.header-logo {
			padding-left: 0;
			margin-left: 15px;
		}
	}
	.qb-header-menu-btn {
		font-family: "Manrope", sans-serif;
		font-size: 1.25rem;
		font-size: clamp(1.25rem, 2.5vw, 1.625rem);
		border: none;
		background: Transparent;
		margin-right: 15px;
		display: flex;
		align-items: center;
		color: $ink-dark;
		.menu-icon {
			margin-left: 1em;
			fill: $ink-dark;
		}
	}
}

.header-menu-btn-div {
	transition: all 1s ease-in-out;
	&:hover {
		& svg {
			transform: scale(1.2);
		}
	}
}

#header-main-nav {
	z-index: 100;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	top: 0;
	left: 0;
	position: fixed;
	background: $ink-light;
	overflow-x: hidden;
}
// End header

// Footer
.qb-header,
.qb-header-main,
.qb-footer {
	a,
	p {
		text-decoration: underline;
		margin-bottom: 0.25em;
		&.p-copyright {
			text-decoration: none;
		}
	}
}
// End footer

// Modal
.modal {
	padding: 0 !important; // override inline padding-right added from js
}

.modal .modal-dialog {
	width: 100%;
	max-width: none;
	height: 100%;
	margin: 0;
}

.modal .modal-content {
	height: 100%;
	border: 0;
	border-radius: 0;
}

.modal .modal-body {
	overflow-y: auto;
}

.modal-header {
	border-bottom: 0;
}
// End modal

@media (min-width: 768px) {
}

@media (min-width: 992px) {
	html {
		// font-size: 16px;
	}
	.qb-header {
		margin-top: 70px;
		svg {
			&.header-logo {
				padding-left: 0;
				margin-left: 50px;
			}
		}
		.qb-header-menu-btn {
			margin-right: 50px;
			color: $ink-light;
		}
	}
	.header-a-page {
		position: relative;
		&.active {
			text-decoration: underline !important;
			text-decoration-thickness: 0.05em !important;
			text-underline-offset: 0.05em !important;
			&::before {
				position: absolute;
				content: "\2794";
				font-size: 0.75em;
				top: 0.15em;
				left: -1.5em;
			}
		}
		&:hover {
			text-decoration: underline !important;
			text-decoration-thickness: 0.05em !important;
			text-underline-offset: 0.05em !important;
			&::before {
				position: absolute;
				content: "\2794";
				font-size: 0.75em;
				top: 0.15em;
				left: -1.5em;
			}
		}
	}

	.background-image,
	.background-image-1,
	.background-image-2,
	.background-image-3,
	.background-image-4 {
		min-height: 50vh;
		background-position: center top;
	}
	.background-image-werk {
		min-height: 80vh;
		background-position: center center;
	}

	.background-image-project {
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-1.png");
		background-color: $ink-light;
		background-size: cover;
		background-position: center;
		min-height: 80vh;
		position: relative;
		&.upper-project-image {
			min-height: 100vh;
		}
		&.project-1 {
			background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-1.png");
		}
		&.project-2 {
			background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-2.png");
		}
		&.project-3 {
			background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-3.png");
		}
		&.project-4 {
			background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-4.png");
		}
		&.project-5 {
			background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-5.png");
		}
		&.project-6 {
			background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/image-project-6.png");
		}
		&.project-7 {
			background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/fitness-woman-working-out-with-battle-ropes-gym.png");
			min-height: 40vh;
			transition: all 0.2s ease-in-out;
			&:hover {
				transform: scale(0.97);
				& .next-project-underline-arrow {
					text-decoration: underline !important;
					text-decoration-thickness: 0.05em !important;
					text-underline-offset: 0.05em !important;
					&::before {
						position: absolute;
						content: "\2794";
						font-size: 0.75em;
						top: 0.85em;
						left: -1em;
					}
				}
			}
		}
	}

	.next-project-image {
		left: 6em;
	}

	.background-image-contact {
		min-height: 80vh;
	}

	.play-showreal {
		text-decoration: none !important;
		&:hover {
			text-decoration: underline !important;
		}
	}

	// Single project page
	.project-image-text {
		position: absolute;
		left: 10em;
		bottom: 8em;
	}
	// End singe project page
}

@media (min-width: 1200px) {
	// Header

	// End header

	div {
		&.height-600 {
			height: 600px;
		}
	}
	.card {
		border: none;
		button::before {
			vertical-align: bottom;
		}
	}

	#main-image {
		height: 100vh;
	}

	.background-image-1 {
		min-height: 100vh;
	}

	.background-image-2 {
		margin: 0;
	}

	.background-image-3,
	.background-image-4 {
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: scale(0.98);
		}
	}

	.watch-project {
		display: none;
	}

	.background-image-werk {
		transition: all 0.2s ease-in-out;
		position: relative;
		&:hover {
			transform: scale(0.98);
			opacity: 0.75;
			.watch-project {
				@include degular-font;
				font-size: 1.5rem;
				font-size: $clamp2440;
				color: $ink-light;
				position: absolute;
				display: flex;
				height: 100%;
				width: 100%;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.background-image-4 {
		background-image: url("https://test.inkoppers.nl/qb/wp-content/uploads/2021/05/cbdsport2.png");
	}

	.h-600 {
		min-height: 600px;
	}

	.h-750 {
		min-height: 750px;
	}

	.h-900 {
		min-height: 900px;
	}

	#first-container {
		margin-top: unset;
	}

	.div-a-showreal {
		transition: all 1s ease-in-out;
		transform-origin: 50% 50%;
		&:hover {
			a {
				text-decoration: underline;
				svg {
					text-decoration: none;
					transform: scale(1.25);
				}
			}
		}
	}

	// 404
	.overlapping-404-images {
		position: relative;
	}

	.left-404-image {
		position: absolute;
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/06/contact-image-1.png");
		background-color: $ink-light;
		background-size: cover;
		background-position: center;
		height: 50vh;
		width: 28vw;
		top: -10em;
		left: 0;
	}

	.right-404-image {
		position: absolute;
		background-image: url("http://localhost/quarterback/wp-content/uploads/2021/05/image-1.png");
		background-color: $ink-light;
		background-size: cover;
		background-position: center;
		height: 50vh;
		width: 40vw;
		top: 0;
		right: 0;
	}

	// End 404

	// Contact
	.contact-page-footer {
		bottom: 10em;
	}
	// End contact

	// Footer
	.qb-header,
	.qb-header-main,
	.qb-footer {
		a,
		p {
			text-decoration: none;
			margin-bottom: 0.5em;
		}
	}

	.a-hover-underline-arrow {
		transition: all 0.2s ease;
		position: relative;
		&:hover {
			text-decoration: underline;
			&::before {
				position: absolute;
				content: "\2794";
				left: -1.5em;
			}
		}
	}
	// End footer
}

@media (min-width: 1400px) {
}
